<div id="login-container">
    <% if flash[:notice] %>
        <% flash[:notice].each do |note| %>
            <p id="notice"><%= note %></p>  
        <% end %>
    <% end %>
    <% if flash[:user_errors] %>
        <div id="error_explanation">
            <h2><%= pluralize(flash[:user_errors].count, "error") %> prohibited this user from being saved:</h2>
            <ul>
                <% flash[:user_errors].each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= form_with url: process_path do |form| %>
        <%= link_to "< Go back", root_path, id: "back" %>
        <h2 id="login">Login to SAP Revamped</h2>
        <p>A duped Power Plant Management System</p>
        <%= form.label :email, "Email:" %>
        <%= form.text_field :email, value: "admin@saprevamped.com" %>
        <%= form.label :password, "Password:" %>
        <%= form.password_field :password, value: "adminsecret123" %>
        <%= form.submit 'Login' %>
        <footer>Check <%= link_to "github wiki", "https://github.com/kekaze/sap-erp-revamped/wiki", id: "wiki", target: :_blank %> for valid account credentials</footer>
    <% end %>
</div>