<body>
    <div id="login-container">
        <% if flash[:notice] %>
            <% flash[:notice].each do |note| %>
                <p id="notice"><%= note %></p>  
            <% end %>
        <% end %>
        <% if flash[:user_errors] %>
            <div id="error_explanation">
                <h2><%= pluralize(flash[:user_errors].count, "error") %> prohibited this user from being saved:</h2>
                <ul>
                    <% flash[:user_errors].each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <%= form_with url: shortcut_attempt_login_path do |form| %>
            <p id="note">Hello</p>
            <div>
                <h3>Login as:</h3>
                <%= form.select :role, [
                    ["Admin", 9],
                    ["Requestor", 1],
                    ["Reviewer", 2],
                    ["Approver", 3],
                    ["Specialist", 4],
                    ["Custodian", 5],
                    ["Finance", 6]
                ] %>
            </div>
            <%= form.hidden_field :username, value: "default_admin_name" %>
            <%= form.submit 'Login' %>
        <% end %>
    </div>
</body>