<div id="login-container">
    <% if flash[:notice] %>
        <% flash[:notice].each do |note| %>
            <p id="notice"><%= note %></p>  
        <% end %>
    <% end %>
    <% if flash[:user_errors] %>
        <div id="error_explanation">
            <h2><%= pluralize(flash[:user_errors].count, "error") %> prohibited this user from being saved:</h2>
            <ul>
                <% flash[:user_errors].each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= form_with url: sessions_path do |form| %>
        <p id="note">This is a shortcut process for login so you don't have to enter any credentials</p>
        <h2 id="greeting"></h2>
        <div>
            <h3>Login as:</h3>
            <%= form.select :role, [
                ["Admin", 9],
                ["Requestor", 1],
                ["Reviewer", 2],
                ["Approver", 3],
                ["Specialist", 4],
                ["Custodian", 5],
                ["Finance", 6]
            ] %>
        </div>
        <%= form.hidden_field :username, value: "default_admin_name" %>
        <%= form.submit 'Login' %>
        <%= link_to "Want to experience the actual login process? Click here.", login_path, id: "login_link" %>
    <% end %>
    <script>
        let name = prompt("Please enter a unique username", "BINI_Colet");
        let greet = document.getElementById("greeting");
        if (name != null) {
          let element = document.getElementById("username");
          element.setAttribute("value", name);
        } else {
          name = prompt("Username is required", "BINI_Colet")
          if (!name || name == null) {
            location.reload();
          }
        }
        greet.innerHTML = "Hi, " + name + " 👋";
    </script>
</div>