<div id="flash-messages">
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>
</div>

<%= render 'shared/partials/navbar' do |f| %>
		<button type="button" class="btn btn-primary register-button h-auto my-2" data-action="register" data-bs-toggle="modal" data-bs-target="#user-registration-modal">Register a user</button>
<% end %>
<section id="data-section">
	<div id="navbar-popover" class="border border-black">
		<%= form_with url: logout_path, method: :delete do |form| %>
			<%= form.button "Logout" %>
		<% end %>
	</div>
	<table id="users-table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Email</th>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Role</th>
				<th>Created at</th>
				<th>Updated at</th>
				<th>Status</th>
				<th id="delete_column"></th>
			</tr>
		</thead>
		<tbody>
			<% @user.each do |user| %>
				<tr>
					<td>
						<%= user.id %>
					</td>
					<td>
						<%= user.email %>
					</td>
					<td>
						<%= user.last_name %>
					</td>
					<td>
						<%= user.first_name %>
					</td>
					<td>
						<%= @roles[user.role_id] %>
					</td>
					<td>
						<%= user.created_at.strftime("%m/%d/%Y %I:%M%p") %>
					</td>
					<td>
						<%= user.updated_at.strftime("%m/%d/%Y %I:%M%p") %>
					</td>
					<td>
						<%= user.status ? "Active" : "Inactive" %>
					</td>
					<td id="delete_icon">
						<button 
							type="button" 
							id="edit"
							class="class_buttons" 
							data-action="edit"
							data-bs-toggle="modal" 
							data-bs-target="#user-registration-modal"
							data-id=<%= user.id %>
							data-email='<%= user.email %>'
							data-last-name='<%= user.last_name %>'
							data-first-name='<%= user.first_name %>'
							data-role-id=<%= user.role_id %>
						>
							<i class="fa-solid fa-pen"></i>
						</button>
						<%= form_with model: user, url: user_path(user), method: :delete, class: "action_buttons" do %>
							<button type="submit" id=<%= user.id %> class="delete">
								<i class="fa-solid fa-trash" style="color: #ff0000;"></i>
							</button>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</section>
<%= render partial: 'shared/partials/user_registration' %>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		let registerNewUser = true;

		function updateFormModal() {
			console.log(registerNewUser);
			if (registerNewUser === true) {
				$('.user-registration').show();
				$('.user-edit').hide();
			} else {
				$('.user-edit').show();
				$('.user-registration').hide();
			}
		}

		function setRegisterNewUser(x) {
			registerNewUser = x;
			updateFormModal();
		};

		const modalElement = document.getElementById("user-registration-modal");

		modalElement.addEventListener("show.bs.modal", function (event) {
		 	const button = event.relatedTarget;
		 	const action = button.getAttribute("data-action");
			const userForm = $('form#user-form').first()

			if (action === "edit") {
				setRegisterNewUser(false);
				userForm.attr('action', `/users/${button.getAttribute("data-id")}`);
				userForm.append("<input type='hidden' name='_method' value='patch' autocomplete='off' id='hidden-input-patch'>");
				console.log($('input[name="user[email]"]')[0]);
				$('input[name="user[email]"]')[0].value = button.getAttribute("data-email");
				$('input[name="user[last_name]"]').first().val(button.getAttribute("data-last-name"));
				$('input[name="user[first_name]"]').first().val(button.getAttribute("data-first-name"));
				$('select[name="user[role_id]"]').first().val((button.getAttribute("data-role-id")).toString());

			} else if (action === "register") {
				setRegisterNewUser(true);
				userForm.action = '/users';
				if ($('#hidden-input-patch').length > 0) {
					$('#hidden-input-patch').remove();
				}

				$('input[name="user[email]"]').first().val('');
				$('input[name="user[last_name]"]').first().val('');
				$('input[name="user[first_name]"]').first().val('');
				$('select[name="user[role_id]"]').first().val('0');
			}
		});
		// 	if (action === "edit") {
		// 		// Change modal title and set form action for editing
		// 		modalTitle.textContent = "Edit User Details";
		// 		form.action = `/users/update/${button.getAttribute("data-role-id")}`;
		// 		form.method = "patch";
		// 		submitButton.textContent = "Update";
		// 		submitButton.value = "Update";

		// 		// Populate fields with current values
		// 		emailField.value = button.getAttribute("data-email");
		// 		lastNameField.value = button.getAttribute("data-last-name");
		// 		firstNameField.value = button.getAttribute("data-first-name");
		// 		role.value = (button.getAttribute("data-role-id")).toString();
		// 		password.type = 'hidden';
		// 		password_confirmation.type = 'hidden';

		// 		elementsHiddenOnEdit.forEach(element => {
		// 			element.style.visibility = "hidden"
		// 		})
		// 	} else {
		// 		modalTitle.textContent = "Register a new user";
		// 		form.action = `/users`;
		// 		form.method = "post";
		// 		submitButton.textContent = "Register";
		// 		submitButton.value = "Register";

		// 		// Populate fields with current values
		// 		emailField.value = '';
		// 		lastNameField.value = '';
		// 		firstNameField.value = '';
		// 		role.value = '0';
		// 		password.type = 'password';
		// 		password_confirmation.type = 'password';

		// 		elementsHiddenOnEdit.forEach(element => {
		// 			element.style.visibility = "visible"
		// 		})
		// 	}
		// });
	});
</script>