
<div class="modal fade" id="user-form-modal" tabindex="-1">
  <div class="modal-dialog m-0 position-fixed d-flex w-100 h-100 top-0 left-0 justify-content-center align-items-center">
    <div class="modal-content w-25">
      <div class="modal-header d-flex justify-content-between">
        <h3 class="align-items-center mb-1 user-registration">Register new employee</h3>
        <h3 class="align-items-center mb-1 user-edit">Update employee</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <%= form_with(model: @user, url: users_path, remote: true, method: :post, html: {class: 'bg-light p-3 rounded', id: 'user-form'}) do |form| %>
        <%= form.select :role_id, options_for_select([
          ["Select type of account", 0],
          ["Requestor Account", 1],
          ["Reviewer Account", 2],
          ["Approver Account", 3],
          ["Specialist Account", 4],
          ["Custodian Account", 5],
          ["Finance Account", 6],
          ["Administrator Account", 9]
        ], { disabled: 0, selected: 0, hidden: 0 }), {}, {class: 'form-select mb-3', 'aria-label': 'Account type dropdown'}%>

        <div class="form-floating mb-3">
          <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
          <%= form.label :email, "Email Address" %>
        </div>
        <div class="form-floating mb-3">
          <%= form.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
          <%= form.label :last_name, "Last Name" %>
        </div>
        <div class="form-floating mb-3">
          <%= form.text_field :first_name, class: "form-control", placeholder: "First Name" %>
          <%= form.label :first_name, "First Name" %>
        </div>
        <div class="form-floating mb-3 user-registration">
          <%= form.password_field :password, class: "form-control", placeholder: "Password"  %>
          <%= form.label :password, "Password"%>
        </div>
        <div class="form-floating mb-3 user-registration">
          <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password"  %>
          <%= form.label :password_confirmation, "Confirm Password"%>
        </div>
        <%= form.submit 'Register', class: "btn btn-primary w-100 user-button user-registration"  %>
        <%= form.submit 'Update', class: "btn btn-primary w-100 user-button user-edit"  %>
      <% end %>
    </div>
  </div>
</div>